
.homepage {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/homepage_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage-search {
    position: absolute;
    top: 15rem;   
    left: 50%;
    transform: translate(-50%, 0);
}

.logo {
    display: block;
    position: absolute;
    height: 120px;
    width: 150px;
    top: 0;
    left: 0;
}

/* Tablet Responsiveness */
@media (max-width: 1200px) {
    .homepage {
        background-image: url('../../assets/homepage_bg_tablet.jpg');
    }
}

/* Mobile Responsiveness */
@media (max-width: 800px) {
    .homepage {
        background-image: url('../../assets/homepage_bg_mobile.jpg');
    }
}
@media (max-width: 500px) {
    .homepage {
        background-image: none;
        background-color: #242424;
    }

    .homepage-search .search input{
        width: 300px;
    }
}
@media (max-width: 350px) {
    .homepage-search .search input{
        width: 200px;
    }
}