.search {
    display: inline-flex;
    position: relative;
    
}

.search input {
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    color: #fff;
    background-color: rgba(34, 63, 136, 0.5);
}

.search input::placeholder {
    color: #fff;
}

.search-glass {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 1rem;
}
.search-glass:hover {
    cursor: pointer;
}