
.weather-sect-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    height: 100%;
    background-image: url('../../assets/Forecast_BGs/cloudy_day.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.weather-sect-container p {
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
}

.top-section {
    padding: 10px;
    height: 40rem;
}

h1 {
    display: none;
}

.search-box {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.current-weather {
    display: flex;
    justify-content: center;
}

.forecast-tabs {
    margin-top: 4rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}

.forecast-tab {
    border-right: 2px solid #fff;
    margin-bottom: auto;
    height: 400px;
    flex-grow: 1;
}
