
.weather-sect-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    height: 90%;
    background-image: url('../../assets/Forecast_BGs/clear_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
    text-shadow: 2px 2px #000;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    padding: 10px;
}

.top-section .forecast-search {
    display: flex;
}

.current-weather {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.forecast-tabs {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 2rem;
    box-shadow: 0px 20px 10px rgba(22, 5, 44, 0.5);
}

.forecast-tab {
    border-right: 2px solid #fff;
    margin-bottom: auto;
    height: 400px;
    flex-grow: 1;
}

.null-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
}
