@import url('https://fonts.googleapis.com/css?family=Quicksand');

.App {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-family: 'Quicksand';
    color: #fff;
    background-color: #171717;
}
